#hero {
    animation-name: fadeIn;
    animation-duration: 2s;
}

#heros {
    animation-name: fadeIn;
    animation-duration: 2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
